<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Electric vehicle charger in Saint-Etienne</title>
</head>
<body>
<h1>Electric vehicle charger in Saint-Étienne</h1>
<p>List of the electric vehicle charger in Saint-Etienne where the charger type is Chademo.</p>
<button type="button"> Show results </button>
<p>List of the electric vehicle charger in Saint-Etienne where the charger station is order by the latitude.</p>
<button type="button"> Show results </button>
<p>List of the electric vehicle charger in Saint-Etienne where the charger type is Chademo and the Insee code is 42218.</p>
<button type="button"> Show results </button>
<p>List of the electric vehicle charger in Saint-Etienne where the Insee code is 42218 for all the different charger type.</p>
<button type="button"> Show results </button>
<p>List of the electric vehicle charger in Saint-Etienne where the charger station is order by the Insee code.</p>
<button type="button"> Show results </button>
<p>List of the electric vehicle charger in Saint-Etienne where the station name is a hospital.</p>
<button type="button"> Show results </button> 
</body>
<footer> Gauthier GLEMENT - Theo REVOUY - Web semantic - M2 DSC </footer>
</html>